body {
    background-color: cadetblue;
}

.custom {
    margin: auto;
}

.image {
    width: 190px;
    height: 190px;
}
img.img-thumbnail {
    width: 100%;
    object-fit:contain;
}

.card-name {
    font-size: small;
    text-align: center;
}

/* online & offline */

.offline-indicator {
    background: red;
    color: white;
    padding: 1rem;
    text-align: center;
  }